TMDB_API_KEY="your_tmdb_api_key_here"
AUTH_KEY="your_auth_key_here"
OPENROUTER_API_KEY="your_openrouter_api_key_here"
DB_USER="postgres"
DB_PASSWORD="your_db_password_here"
WHISPER_API_KEY="your_whisper_groq_api_key_here"
DB_HOST="localhost"
DB_NAME="Movie_MCP"
NVIDIA_API_KEY="your_nvidia_api_key_here"
# NVIDIA_MODEL="nvidia/nemotron-3-ultra-550b-a55b"
OLLAMA_HOST="https://ollama.com"
OLLAMA_MODEL="gemma4:31b-cloud"
NEO4J_URI="neo4j+s://your_neo4j_instance.databases.neo4j.io"
NEO4J_USERNAME="neo4j"
NEO4J_USER="neo4j"
NEO4J_PASSWORD="your_neo4j_password_here"
NEO4J_DATABASE="neo4j"
AURA_INSTANCEID="your_instance_id"
AURA_INSTANCENAME="your_instance_name"
JWT_SECRET_KEY="your_jwt_secret_key_here"
